// PC버전 header

@import "./mixin.scss";

header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid $main;
    position: fixed;
    z-index: 999;
    background-color: #fff;
}

header {
    .header__wrapper {
        width: $grid__pc;
        height: inherit;
        margin: 0 auto;
        display: flex;
        line-height: 100px;

        // 로고 
        .header__logo {
            width: 50%;


            a {
                font-family: 'SBAggroB';
                font-size: 2rem;
                font-weight: 800;
            }
        }

        // nav메뉴
        nav.header__nav__pc {
            width: 50%;

            ul {
                display: flex;
                justify-content: space-between;


                li {
                    text-align: center;
                    font-family: 'NanumSquare';
                    font-weight: 800;

                    a.header__nav-list__pc-checked {
                        color: $main;
                        // font-size: 36px;/
                    }

                }

            }
        }

        // pc에선 mobile/tablet용  nav메뉴 숨기기
        .header__nav__mobile-tablet {
            display: none;

        }
    }
}



// 반응형 태블릿
@media (max-width:$tablet) {
    header {
        height: 80px;

        .header__wrapper {
            width: $grid__tablet;
            line-height: 80px;

            // 로고 
            .header__logo {
                width: 50%;
                color: red;
                // order: 2;
                display: flex;

                a {
                    font-family: 'SBAggroB';
                    font-size: 1.5rem;
                    font-weight: 800;
                }

            }

            // nav메뉴
            nav.header__nav__pc {
                display: none;
            }

            // pc에선 mobile/tablet용  nav메뉴 숨기기
            .header__nav__mobile-tablet {

                width: 50%;
                display: flex;
                justify-content: end;

                // 햄버거 메뉴 크기
                .header__hbm,
                .header__hbm__active
                 {
                   
                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
                
                .header__hbm__active{
                    display: none;
                }

                // mobile/tablet 에서 햄버거 버튼 클릭시 nav 메뉴 
                // mobile/tablet 기준 header의 높이값인 80px맨큼 빼주고 마진 탑으로 나머지 간격 조절
                .header__nav-list {
                    width: 100%;
                    height: calc(100% - 80px);
                    transition: 1s;
                    position: fixed;
                    left: -100%;
                    // left: 0%;
                    top: 0;
                    margin-top: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #fff;

                    // mobile/tablet 각 메뉴 간격 조절
                    ul {
                        height: 40%;
                        display: flex;
                        flex-direction: column;
                        align-content: space-between;
                        justify-content: space-between;
                        
                       
                       

                        li {
                            text-align: left;
                            font-family: 'NanumSquare';
                            font-weight: 800;
                            font-size: 4rem;

                            a.header__nav-list__mobile-checked {
                                color: $main;
                            }
                        }
                    }

                }
            }
        }
    }
}

// 반응형 모바일
@media (max-width:$mobile) {
    header {
        .header__wrapper {
            width: $grid__mobile;
            .header__nav__mobile-tablet {
                .header__nav-list {
                  left: 0%;
                  top: 100%;

                }
            }

        }
    }
}