@import "./variable.scss";

// me 페이지 pc버전
section#me {

    padding-top: 100px;
    width: 100%;
    margin-bottom: 20px;

}

section#me {
    .me__wrapper {
        width: $grid__pc;
        margin: 0 auto;
        margin-top: 60px;

        display: flex;
        flex-direction: column;
        align-items: center;
        // border-radius: 16px;

    }


}

// 사진과 메시지영역
section#me .me__wrapper .me__img-message {
    width: 100%;
    display: flex;
    border-radius: 16px;
    background-color: #fff;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    justify-content: space-between;



    .me__img {
        width: 30%;

        .me__img__wrapper {
            width: 100%;


            img {
                width: 100%;
                display: block;



            }
        }
    }

    .me__message {
        width: 65%;
        overflow: hidden;
        padding: 10px;
        line-height: 1.5;
        font-size: 24px;
        text-align: justify;
        letter-spacing: -1px;
        font-weight: 300;
    }
}

// deatils 부분
section#me {
    .me__wrapper {
        .me__details {
            width: 100%;
            display: flex;
            justify-content: space-between;

            div {
                display: flex;
                width: 320px;
                justify-content: center;
                

                border-radius: 16px;


                ul {
                    width: 100%;
                    background-color: #fff;
                    text-align: justify;
                    height: 200px;
                    padding: 20px;
                    border-radius: 16px;
                    line-height: 1.2;
                    font-size: 18px;
                    font-weight: 400;

                    li:nth-child(1) {
                        font-weight: bold;
                        font-size: 24px;
                        margin-bottom: 8px;
                    }
                }

            }
        }
    }
}


// contact 영역
section#contact {

    width: 100%;
    margin-bottom: 40px;   


}

section#contact {
    .contact__wrapper {
        width: $grid__pc;
        margin: 0 auto;
        height: 100%;



        // 왼쪽 그림영역      

        .contact__form-container {
            width: 100%;
            height: auto;
            background-color: #fff;
            border-radius: 16px;
            padding: 40px;

            // 폼요소 위에 간단한 소개
            .contact__form-title{
                font-size: 20px;
                text-align: center;
                margin-bottom: 40px;

            }
            .contact__form-wrap {
                display: flex;
                flex-direction: column;              
                margin: 0 auto;
                width: 80%;
                
               
                // 전송버튼
                .contact__form-submit {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    button{
                        padding: 10px 20px;
                        background-color: #fff;
                        border: 1px solid #111;
                        border-radius: 5px;
                        font-weight: 600;
                    }
                }

                .contact__form {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;

                    input,
                    textarea
                     {
                        width:100%;
                        background-color: #fff;
                        border: 1px solid #111;
                        resize: none;
                        padding: 10px;
                        border-radius: 5px;
                        font-size: 16px;
                        font-weight: 400;

                    }

                    label{
                        width: 20%;
                        font-weight: 600;
                        font-size: 20px;
                        margin-bottom: 10px;
                    }

                 
                }



            }
        }

    }
}


// tablet 반응형
@media (max-width:$tablet) {

    // me section 영역
    section#me {
        padding-top: 80px;

    }

    section#me {
        .me__wrapper {
            width: $grid__tablet;
            display: flex;
            margin-top: 40px;
            height: auto;

        }
    }

    // #me 내부 사진과 메시지 영역
    section#me .me__wrapper .me__img-message {
        margin-bottom: 20px;

        .me__message {
            font-size: 20px;

        }
    }

    // contatct 영역
    section#contact {
        padding-top: 80px;
        height: 100%;
    }

    section#contact {
        .contact__wrapper {
            width: $grid__tablet;
            display: flex;
            margin-top: 40px;

        }
    }

    // deatils 부분
    section#me {
        .me__wrapper {
            .me__details {
                width: 100%;
                display: flex;
                justify-content: space-between;

                div {
                    display: flex;
                    width: 32%;
                    justify-content: center;


                    border-radius: 16px;


                    ul {

                        text-align: justify;
                        height: auto;
                        padding: 20px;
                        border-radius: 16px;
                        line-height: 1.2;
                        font-size: 14px;

                        li:nth-child(1) {
                            font-weight: bold;
                            font-size: 24px;
                            margin-bottom: 8px;
                        }
                    }

                }
            }
        }
    }

}




// mobile 반응형
@media (max-width:$mobile) {

    // me section 영역
    section#me {
        padding-top: 80px;

    }

    section#me {
        .me__wrapper {
            width: $grid__tablet;
            margin-top: 20px;


        }


    }

    // #me 내부 사진과 메시지 영역
    section#me .me__wrapper .me__img-message {
        margin-bottom: 10px;

        // 사진영역
        .me__img {

            .me__img__wrapper {

                img {
                    min-width: 140px;
                }
            }
        }


        // 메세지영역
        .me__message {
            font-size: 16px;
            font-weight: 400;
        }



    }

    // deatils 부분
    section#me {
        .me__wrapper {
            .me__details {

                div {



                    ul {
                        padding: 10px;
                        font-size: 14px;
                        text-wrap: wrap;
                        font-weight: 400;


                        li:nth-child(1) {

                            font-size: 16px;
                            margin-bottom: 6px;
                        }
                    }

                }
            }
        }
    }

    // contatct 영역
    section#contact {

        height: 100%;
    }

    section#contact {
        .contact__wrapper {
            width: $grid__tablet;
            margin-top: 20px;
            height: auto;

        }
    }
}