@import "./mixin.scss";

// me 페이지 pc버전
section#me {

    padding-top: 100px;
    height: 1020px;
    width: 100%;
    background-color: green;

}

section#me {
    .me__wrapper {
        width: $grid__pc;
        margin: 0 auto;
    }
}
// contact 영역
section#contact {

    padding-top: 100px;
    height: 1020px;
    margin-bottom: 100px;
    background-color: red;
    width: 100%;
   

}

section#contact {
    .contact__wrapper {
        width: $grid__pc;
        margin: 0 auto;
      
       
    }
}