@import "./mixin.scss";

// me 페이지 pc버전
section#me {

    padding-top: 100px;
    width: 100%;
    margin-bottom: 20px;
 
}

section#me {
    .me__wrapper {
        width: $grid__pc;
        margin: 0 auto;
        margin-top: 60px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-radius: 16px;
       

    }


}

// 사진과 메시지영역
section#me .me__wrapper .me__img-message {
    width: 100%;
    display: flex;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

    align-items: center;
    overflow: hidden;




    .me__img {
        width: 30%;

        .me__img__wrapper {
            width: 100%;


            img {
                width: 100%;
                display: block;


            }
        }
    }

    .me__message {
        width: 70%;
        overflow: hidden;
        padding: 20px 20px;
        line-height: 1.5;
        font-size: 24px;
        text-align: justify;
        letter-spacing: -1px;
    }
}

// details 박스 모듈화
section#me {
    .me__wrapper {
        .me__details {
            width: 100%;
            display: flex;
            justify-content: space-between;


            div {
                display: flex;
                width: 20%;
                justify-content: center;

                border-radius: 16px;
                // height: 100px;

            }
        }
    }
}


// contact 영역
section#contact {

    width: 100%;
    background-color: red;


}

section#contact {
    .contact__wrapper {
        width: $grid__pc;
        margin: 0 auto;
        height: 100%;


    }
}


// tablet 반응형
@media (max-width:$tablet) {

    // me section 영역
    section#me {
        padding-top: 80px;
        
    }

    section#me {
        .me__wrapper {
            width: $grid__tablet;
            display: flex;
            margin-top: 40px;
            height: auto;

        }
    }

    // #me 내부 사진과 메시지 영역
    section#me .me__wrapper .me__img-message {
        .me__message {
            font-size: 20px;
        }
    }

    // contatct 영역
    section#contact {
        padding-top: 80px;
        height: 100%;
    }

    section#contact {
        .contact__wrapper {
            width: $grid__tablet;
            display: flex;
            margin-top: 40px;

        }
    }
}




// mobile 반응형
@media (max-width:$mobile) {

    // me section 영역
    section#me {
        padding-top: 80px;
        
    }

    section#me {
        .me__wrapper {
            width: $grid__tablet;
            margin-top: 20px;


        }


    }

    // #me 내부 사진과 메시지 영역
    section#me .me__wrapper .me__img-message {

      

        // 메세지영역
        .me__message {
            font-size: 16px;
        }
    }

    // contatct 영역
    section#contact {

        height: 100%;
    }

    section#contact {
        .contact__wrapper {
            width: $grid__tablet;
            margin-top: 20px;
            height: auto;

        }
    }
}