@import "./mixin.scss";

// me 페이지 pc버전
section#me {

    padding-top: 100px;
    height: 1020px;
    width: 100%;
    background-color: green;

}

section#me {
    .me__wrapper {
        width: $grid__pc;
        margin: 0 auto;
        margin-top: 60px;
    }
}

// contact 영역
section#contact {

    padding-top: 100px;
    height: 1020px;
    margin-bottom: 100px;
    background-color: red;
    width: 100%;


}

section#contact {
    .contact__wrapper {
        width: $grid__pc;
        margin: 0 auto;


    }
}


// tablet 반응형
@media (max-width:$tablet) {
    // me section 영역
    section#me {
        padding-top: 80px;
        height: 100vh;
    }

    section#me {
        .me__wrapper {
            width: $grid__tablet;
            display: flex;
            margin-top: 40px;

        }
    }

    // contatct 영역
    section#contact {
        padding-top: 80px;
        height: 100%;
    }

    section#contact {
        .contact__wrapper {
            width: $grid__tablet;
            display: flex;
            margin-top: 40px;

        }
    }
}




// tablet 반응형
@media (max-width:$mobile) {
    // me section 영역
    section#me {
        padding-top: 80px;
        height: 100vh;
    }

    section#me {
        .me__wrapper {
            width: $grid__tablet;
            margin-top: 20px;

        }
    }

    // contatct 영역
    section#contact {
       
        height: 100%;
    }

    section#contact {
        .contact__wrapper {
            width: $grid__tablet;
            margin-top: 20px;

        }
    }
}
