@import "./variable.scss";

// 포트폴리오 페이지 pc버전
section#portfolio {

    // 27AE60 
    padding-top: 100px;
    height: 100%;
    margin-bottom: 100px;

}

section#portfolio {


    .portfolio__wrapper {
        width: $grid__pc;
        margin: 0 auto;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        // justify-content: space-between;
        gap: 17px;

        // 작품하나씩 들어가는 박스
        .works {
            width: 330px;
            height: 200px;
           transition: 1s;
            position: relative;
            background-color: #d1d1d1;


            &:hover {
                transform: scale(0.95);

                &:before {
                    width: 100%;

                }

                .works__title__pc {
                    display: block;
                    opacity: 0;
                    // 호버시 애니메이션 추가
                    animation: titleShow 1s forwards;
                    animation-delay: 0.5s;

                }

                // 제목이 서서히 보이는 애니메이션
                @keyframes titleShow {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }

                }
            }

            // 박스 위에 마우스 올렸을때 배경
            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: rgba(0, 0, 0, 0.7);
                transform: translateX(-50%);
                left: 50%;
                position: absolute;
                transition: 1s;
                // 가상요소가 클릭을 방해하기에 pointer-events: none; 로 배경작용만 하게 함
                pointer-events: none;


            }

            .works__wrapper {
                width: 330px;
                height: 100%;


                img {
                    width: 100%;
                    height: 100%;

                }

            }


            .works__title__pc {
                position: absolute;
                left: 50%;
                top: 50%;
                transition: delay 1s;
                display: none;
                transform: translate(-50%, -50%);

                a {
                    color: #fff;
                    font-size: 32px;
                    font-family: 'NanumSquare';
                    font-weight: 600;
                }


            }


        }

        // 각 작업물의 제목(mobile/tablet전용)
        .works__title__mobile {
            display: none; ///
        }
    }
}

// tablet 반응형

@media (max-width:$tablet) {
    section#portfolio {
       
        padding-top: 80px;
        // header 영역이 fixed로 100px만큼 고정되어있어서 padding top 으로 추가 공간을 줫음
        height: 100%;
    }

    section#portfolio {
        .portfolio__wrapper {
            width: $grid__tablet;
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            margin-top: 40px;
            gap: 2%;

            // 작품하나씩 들어가는 박스
            .works {
                width: 48%;
                transition: 1s;
                height: auto;
                margin-bottom: 40px;
              

                &:hover {
                    transform: scale(1);

                    // 태블릿 이하 사이즈에선 pc 구조의 호버배경 안보이게
                    &::before {
                        display: none;
                    }
                }

                .works__wrapper {
                    width: 100%;
                    margin: 0 auto;
                    overflow: hidden;

                    img {
                        width: 100%;
                        // height: 100%;

                    }

                    // pc외에선 제목 안보이게
                    .works__title__pc {
                        display: none;
                    }
                }

            }

            // 각 작업물의 제목(mobile/tablet전용)
            .works__title__mobile {
                display: block;
                text-align: center;
                margin-top: 10px;
            }
        }
    }

}


// 모바일 반응형


@media (max-width:$mobile) {
    section#portfolio {
        
        // 27AE60 
        padding-top: 80px;
        // header 영역이 fixed로 100px만큼 고정되어있어서 padding top 으로 추가 공간을 줫음
      
        height: 100%;
    }

    section#portfolio {


        .portfolio__wrapper {
            width: $grid__mobile;
            margin-top: 20px;
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
           

            // 작품하나씩 들어가는 박스
            .works {
                width: 100%;
                // height: 180px;
                margin-bottom: 60px;
                transition: 1s;
                height: auto;

                &:hover {
                    transform: scale(1);
                }

                .works__wrapper {
                    width: 100%;

                    img {
                        width: 100%;
                        min-width: 100%;
                    }
                }

            }

            // 각 작업물의 제목(mobile/tablet전용)
            .works__title__mobile {
                display: block;
                text-align: center;
                margin-top: 10px;
            }
        }
    }

}