@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@font-face {
  font-family: "Orbit-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #f5f6f9;
}

section#portfolio {
  padding-top: 100px;
  height: 100%;
  margin-bottom: 100px;
}

section#portfolio .portfolio__wrapper {
  width: 1024px;
  margin: 0 auto;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 17px;
}
section#portfolio .portfolio__wrapper .works {
  width: 330px;
  height: 200px;
  transition: 1s;
  position: relative;
}
section#portfolio .portfolio__wrapper .works:hover {
  transform: scale(0.95);
}
section#portfolio .portfolio__wrapper .works:hover:before {
  width: 100%;
}
section#portfolio .portfolio__wrapper .works:hover .works__title__pc {
  display: block;
  opacity: 0;
  animation: titleShow 1s forwards;
  animation-delay: 0.5s;
}
@keyframes titleShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
section#portfolio .portfolio__wrapper .works:before {
  content: "";
  width: 0%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  transition: 1s;
  pointer-events: none;
}
section#portfolio .portfolio__wrapper .works .works__wrapper {
  width: 330px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
section#portfolio .portfolio__wrapper .works .works__wrapper img {
  width: 100%;
  height: 100%;
}
section#portfolio .portfolio__wrapper .works .works__title__pc {
  position: absolute;
  left: 50%;
  top: 50%;
  transition: delay 1s;
  display: none;
  transform: translate(-50%, -50%);
}
section#portfolio .portfolio__wrapper .works .works__title__pc a {
  color: #fff;
  font-size: 32px;
  font-family: "NanumSquare";
  font-weight: 600;
}
section#portfolio .portfolio__wrapper .works__title__mobile {
  display: none;
}

section#portfolio .pop-up__wrapper {
  width: 100%;
  background-color: #f5f6f9;
  height: 100%;
  height: 100vh;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}
section#portfolio .pop-up__wrapper__show {
  opacity: 1;
  display: block;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 1s ease-in-out;
}

section#portfolio .pop-up__wrapper .pop-up__content {
  width: 1024px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 50px 100px rgba(17, 20, 39, 0.2);
  margin-top: 40px;
  padding: 60px 120px;
}
section#portfolio .pop-up__wrapper .pop-up__content .pop-up__content__info-img {
  display: flex;
  margin-bottom: 100px;
}
section#portfolio .pop-up__wrapper .pop-up__content .pop-up__content__info-img .pop-up__content__info {
  width: 50%;
}
section#portfolio .pop-up__wrapper .pop-up__content .pop-up__content__info-img .pop-up__content__info h2 {
  text-align: left;
  font-size: 32px;
  position: relative;
}
section#portfolio .pop-up__wrapper .pop-up__content .pop-up__content__info-img .pop-up__content__info h2::before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: #111;
  position: absolute;
  top: -20px;
}
section#portfolio .pop-up__wrapper .pop-up__content .pop-up__content__info-img .pop-up__content__info p {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 800;
}
section#portfolio .pop-up__wrapper .pop-up__content .pop-up__content__info-img .pop-up__content__info p span {
  font-weight: 400;
}
section#portfolio .pop-up__wrapper .pop-up__content .pop-up__content__info-img .pop-up__content__info .popup__info-subtitle {
  font-size: 20px;
  color: #d5d5d5;
  margin: 10px 0 40px 0;
}
section#portfolio .pop-up__wrapper .pop-up__content .pop-up__content__info-img .pop-up__img__wrap {
  width: 50%;
  height: 240px;
  overflow: hidden;
  box-shadow: 0 30px 60px rgba(17, 20, 39, 0.5);
}
section#portfolio .pop-up__wrapper .pop-up__content .pop-up__content__info-img .pop-up__img__wrap img {
  width: 100%;
  display: block;
}
section#portfolio .pop-up__wrapper .pop-up__content .pop-up__content__description {
  background-color: #f5f6f9;
  width: 100%;
  height: 200px;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 40px;
  overflow-y: scroll;
  line-height: 1.5;
  font-size: 18px;
}
section#portfolio .pop-up__wrapper .pop-up__content .pop-up__button {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section#portfolio .pop-up__wrapper .pop-up__content .pop-up__button button {
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 8px;
  background-color: #000;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

@media (max-width: 1023px) {
  section#portfolio {
    padding-top: 80px;
    height: 100%;
  }
  section#portfolio .portfolio__wrapper {
    width: 95%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 2%;
  }
  section#portfolio .portfolio__wrapper .works {
    width: 48%;
    transition: 1s;
    height: auto;
    margin-bottom: 40px;
  }
  section#portfolio .portfolio__wrapper .works:hover {
    transform: scale(1);
  }
  section#portfolio .portfolio__wrapper .works:hover::before {
    display: none;
  }
  section#portfolio .portfolio__wrapper .works .works__wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  section#portfolio .portfolio__wrapper .works .works__wrapper img {
    width: 100%;
  }
  section#portfolio .portfolio__wrapper .works .works__wrapper .works__title__pc {
    display: none;
  }
  section#portfolio .portfolio__wrapper .works__title__mobile {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  section#portfolio {
    padding-top: 80px;
    height: 100%;
  }
  section#portfolio .portfolio__wrapper {
    width: 90%;
    margin-top: 20px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  section#portfolio .portfolio__wrapper .works {
    width: 100%;
    margin-bottom: 60px;
    transition: 1s;
    height: auto;
  }
  section#portfolio .portfolio__wrapper .works:hover {
    transform: scale(1);
  }
  section#portfolio .portfolio__wrapper .works .works__wrapper {
    width: 100%;
  }
  section#portfolio .portfolio__wrapper .works .works__wrapper img {
    width: 100%;
    min-width: 100%;
  }
  section#portfolio .portfolio__wrapper .works__title__mobile {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}/*# sourceMappingURL=portfolio.css.map */